<a href="https://colab.research.google.com/github/JairAssisDev/Treinamento-Cin/blob/main/Modulo01_Exemplo_pratico_02_Intro_ao_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Instalando e importando a biblioteca:

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#Importando a biblioteca:
import numpy as np
import pandas as pd

## Séries e Dataframes:


Séries: um array unidimensional rotulado que contém qualquer tipo de dado

Dataframe: uma estrutura de dados bidimensional que contém dados como uma tabela com linhas e colunas

In [3]:
array = np.array([2,5,3,8,0,5,np.nan])

#criando a série
serie = pd.Series(array)

#tipo e conteúdo
print(type(serie))
print(serie)

<class 'pandas.core.series.Series'>
0    2.0
1    5.0
2    3.0
3    8.0
4    0.0
5    5.0
6    NaN
dtype: float64

In [4]:
#dicionário que será passado para criar o dataframe
data = {'Nome': ['Alice', 'Bob', 'Charlie', 'David'],
        'Idade': [25, 30, 35, 40]}

#criação do dataframe
df = pd.DataFrame(data)
print(df)

      Nome  Idade
0    Alice     25
1      Bob     30
2  Charlie     35
3    David     40

## Acessando e alterando valores:

In [5]:
#selecionando dados específicos do dataframe:
nomes = df['Nome']
idades = df['Idade']
print(nomes)
print(idades)

0      Alice
1        Bob
2    Charlie
3      David
Name: Nome, dtype: object
0    25
1    30
2    35
3    40
Name: Idade, dtype: int64

In [6]:
#filtrando pessoas com idade acima de 30
df_filtrado = df[df['Idade'] > 30]
print(df_filtrado)

      Nome  Idade
2  Charlie     35
3    David     40

In [7]:
#ordenando por idade em ordem decrescente
df_ordenado = df.sort_values(by='Idade', ascending=False)
print(df_ordenado)

      Nome  Idade
3    David     40
2  Charlie     35
1      Bob     30
0    Alice     25

In [8]:
#adicionando uma nova coluna
df['Cidade'] = ['Nova York', 'Los Angeles', 'Chicago', 'Houston']
print(df)

      Nome  Idade       Cidade
0    Alice     25    Nova York
1      Bob     30  Los Angeles
2  Charlie     35      Chicago
3    David     40      Houston

In [10]:
#agrupando dados e aplicando funções de agregação
media_idade_por_cidade = df.groupby('Cidade')['Idade'].mean()
print(media_idade_por_cidade)

Cidade
Chicago        35.0
Houston        40.0
Los Angeles    30.0
Nova York      25.0
Name: Idade, dtype: float64

In [11]:
#removendo uma coluna
df = df.drop(columns=['Cidade'])
print(df)

      Nome  Idade
0    Alice     25
1      Bob     30
2  Charlie     35
3    David     40

In [12]:
#resumindo estatísticas descritivas do DataFrame
print(df.describe())

           Idade
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

## Salvando e Abrindo arquivos do tipo CSV

In [13]:
#salvando o DataFrame em um arquivo CSV
df.to_csv('novo_arquivo.csv', index=False)

In [14]:
datasframe2 = pd.read_csv('novo_arquivo.csv')
print(datasframe2.head())

      Nome  Idade
0    Alice     25
1      Bob     30
2  Charlie     35
3    David     40

## Exercícios

Utilize a tabela disponível em: https://github.com/infoslack/ml-book-exemplos/blob/main/data/venda-de-carros-formatado.csv

01 - Carregue o csv em um dataframe e visualize os dados imprimindo as 5 primeiras linhas do dataframe

02 - Obtenha o nome de todas as colunas do dataframe

03 - Exiba as informações estatísticas sobre os dados

04 - Verifique as entradas válidas e remova linhas com dados faltantes (NaN)

05 - Ajuste as colunas para que contenham o tipo correto (e.g., preço = float)

06 - Obtenha um dataframe que contenha apenas carros com 4 portas

07 - Imprima o tamanho do dataframe

08 - Obtenha o item da segunda linha

09 - Obtenha a média das quilometragens existentes no conjunto